@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
.burger__content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.burger__content:hover {
  border-top: none;
  border-bottom: none;
}

.burger__content::after,
.burger__content::before {
  content: "";
  position: absolute;
  width: 20px;
  border: 1px solid #000;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.burger__content:hover:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger__content:hover:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* -----------stars-rating----CSS-------- */
.simple-rating {
  position: relative;
  font-size: 40px;
  display: inline-block;
  color: rgb(202, 217, 230);
}

.simple-rating::before {
  content: "★★★★★";
  display: block;
}

.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden;
}

.simple-rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.simple-rating__label {
  font: 0 0 20%;
  height: 100%;
  cursor: pointer;
}

.simple-rating__label::before {
  content: "★";
  display: block;
  -webkit-transition: color 0.3;
  -o-transition: color 0.3;
  transition: color 0.3;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
  color: gold;
}

.simple-rating__label:hover:hover,
.simple-rating__label:hover:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
  color: gold;
}

.lesson__link {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.lesson__page {
  padding: 8px 30px;
  border: 1px solid #3056D3;
  border-radius: 4px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -ms-flex-item-align: center;
      align-self: center;
}

.lesson__page:hover {
  background-color: #3056D3;
  color: wheat;
}

.lesson__page:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

@media (max-width: 420px) {
  .lesson__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}
.checkbox__item {
  position: relative;
}

.checkbox__item:not(:last-child) {
  margin-bottom: 25px;
}

.checkbox__input {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
}

.checkbox__label::before {
  content: "";
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 0.7px solid #E7E7E7;
  border-radius: 4px;
}

.checkbox__input:checked + .checkbox__label::before {
  background: url(../img/On.svg) 100% 100%/cover no-repeat;
}

@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono/RobotoMono-Bold.woff2") format("woff2"), url("../fonts/RobotoMono/RobotoMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono/RobotoMono-Medium.woff2") format("woff2"), url("../fonts/RobotoMono/RobotoMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald/Oswald-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: "Poppins";
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 79.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}
@media (max-width: 780px) {
  [class*=__container] {
    padding: 0 5px;
  }
}

.header {
  position: fixed;
  width: 100%;
  padding: 2.25rem;
  z-index: 2;
}
.header__content {
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  font-size: 1.125rem;
  color: #F8F9FA;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__logo span {
  color: #DDBEA9;
}
@media (max-width: 780px) {
  .header__navigation {
    display: none;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
  padding-right: 1.5625rem;
  margin-right: 1.5625rem;
  border-right: 1px solid rgba(229, 229, 229, 0.5);
}
.navigation__item_sab {
  margin-right: 13px;
  position: relative;
}
.navigation__item_sab::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 5px;
  bottom: 45%;
  right: -12px;
  background: url(../img/sab.svg) center no-repeat;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.navigation__item_sab:hover::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.navigation__item_sab:hover .sab {
  visibility: visible;
  opacity: 1;
}
.navigation__link {
  position: relative;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 2.08;
  color: rgba(248, 249, 250, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.navigation__link:hover {
  color: #F8F9FA;
}
.navigation__link::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 50%;
  background-color: #DDBEA9;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.navigation__link:hover::after {
  width: 100%;
  left: 0;
}
.navigation__search {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/search.svg) center no-repeat;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.navigation__search:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
@media (max-width: 768px) {
  .navigation__search {
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
  }
}
.navigation__burger {
  padding: 0 1rem;
  display: none;
}
@media (max-width: 768px) {
  .navigation__burger {
    display: block;
  }
}

.sab {
  padding-top: 20px;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 136px;
}
.sab__list {
  padding: 20px;
  background: #212529;
  border-radius: 5px;
}
.sab__item:not(:last-child) {
  margin-bottom: 10px;
}
.sab__link {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 2.08;
  color: rgba(248, 249, 250, 0.6);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.sab__link:hover {
  color: #F8F9FA;
}

.burger:hover .burger__body,
.burger :active .burger__body,
.burger :focus .burger__body {
  visibility: visible;
  width: 100%;
}
.burger__navigation {
  padding-top: 1.875rem;
}
.burger__body {
  padding: 1.875rem 3.125rem;
  position: fixed;
  left: 0;
  width: 0;
  height: 100%;
  visibility: hidden;
  background-color: hsla(204, 8%, 12%, 0.237);
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}
.burger__list {
  display: inline-block;
}
.burger__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.burger__item_sab:hover .burger-sab__content {
  visibility: visible;
}
.burger__link {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 2.08;
  color: rgba(248, 249, 250, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.burger__link:hover {
  color: #F8F9FA;
}
.burger__link_sab {
  margin-right: 13px;
  position: relative;
}
.burger__link_sab::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 5px;
  bottom: 30%;
  right: -12px;
  background: url(../img/sab.svg) center no-repeat;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: rotate 0.3s;
  -o-transition: rotate 0.3s;
  transition: rotate 0.3s;
}
.burger__link_sab:hover::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.burger-sab {
  position: relative;
}
.burger-sab__content {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 100px;
  width: 136px;
}
.burger-sab__list {
  padding: 20px;
  background: #212529;
  border-radius: 5px;
}
.burger-sab__link {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 2.08;
  color: rgba(248, 249, 250, 0.6);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.burger-sab__link:hover {
  color: #F8F9FA;
}

.main__bord {
  width: 100%;
  height: 100vh;
  background: url(../img/bigbord_11zon.webp) 100% 100%/cover no-repeat;
}