@use "sass:math";
@import "_comonns.scss";
@import "_fonts.scss";
@import "_reset.scss";

@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
// @media (any-hover: hover){
// 	&:hover{

// 	}
// }
$MaxWidth: 1900;
@mixin adaptiv-font($pcSize, $mobSize){
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$MaxWidth}));
	// @media (max-width: 767px) {
	// 	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$MaxWidth}));
	// }
	// @media (min-width: 767px){
	// 	font-size: calc(#{$mobSize +px} + #{$addSize} * (100vw / #{maxWIDTH}));
	// }
}


body{
	font-family: "Oswald";
	
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;

}
main{
	flex-grow: 1;
}
[class*=__container]{
	max-width: 1900px;
	margin: 0 auto;
	padding: 0 15px;
	@media (max-width: 780px) {
		padding: 0 5px;
	}
}

.brand {

	// .brand__content

	&__content {
		border: 2px solid #C4C4C4;
		display: flex;
		justify-content: center;
		gap: 35px;
		flex-wrap: wrap;
		// display: grid;
		// grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		// gap: 35px;
		padding: 28px 0px;
		margin-bottom: 30px;
		@media (max-width: 780px) {
			gap: 15px;
		}
	}

	// .brand__image

	&__image {
		min-width: 233px;
		padding: 58px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: 420px) {
			padding: 28px 0;
		}
		&:hover{
			background: #F0F2F2;
		}
	}

	// .brand__img

	&__img {
		transition: all 0.3s;
		&:hover{
			transform: scale(1.05);
		}
	}
}

.categories {

	// .categories__body

	&__body {
		margin-bottom: 30px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
		gap: 30px;
		@media (max-width: 780px) {
			gap: 15px;
			grid-template-columns: 1fr;
		}
	}

	// .categories__image

	&__image {
		&:nth-child(2){
			grid-row: span 2;
		}
	}
}

.image {
	position: relative;
	padding-bottom: 46.969697%; /* 434/924 */
	&:nth-child(2){
		padding-bottom: 97.081081%; /* 898/925 */
	}
	&__img{
		
		
		& img{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	&__content_one {
		z-index: 2;
		color: #000000;
		position: absolute;
			bottom: 15% ;
			right: 20%;
			@media (max-width: 460px) {
				bottom: 5% ;
				right: 5%;
			}
	}
	&__content_two{
		
		position: absolute;
		bottom: 12%;
		left: 10%;
	}
	&__content_three{
		position: absolute;
		bottom: 30%;
		left: 10%;
		@media (max-width: 460px) {
			bottom: 5% ;
			right: 5%;
		}
	}
	&__title {
		font-weight: 600;
	font-size: 48px;
	line-height: 1.29;
	text-transform: uppercase;
		@media (max-width: 780px) {
			font-size: 28px;
		}
		@media (max-width: 460px) {
			font-size: 18px;
		}
	}
	&__title_big{
		font-size: 96px;
line-height: 1.14;
@media (max-width: 780px) {
	font-size: 38px;
}
	}
	// .image__text

	&__text {
		font-size: 22px;
line-height: 1.68;
margin-bottom: 50px;
@media (max-width: 780px) {
	margin-bottom: 20px;
	font-size: 16px;
}
	}
	// .image__button

	&__button {
		font-size: 18px;
line-height: 1.5;
text-transform: uppercase;
@media (max-width: 780px) {
	font-size: 16px;
}
	}

	// .image__btn

	&__btn {
		display: inline-block;
		padding: 15px 40px;
		border: 2px solid black;
		transition: all 0.3s;
		@media (max-width: 780px) {
			padding: 7px 16px;
		}
		&:hover{
			background-color: #000000;
			color: white;
		}
	}
}
.shop {
	&__content{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
		gap: 26px;
		margin-bottom: 24px;
		@media (max-width: 1200px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__title{
		font-weight: 400;
	font-size: 24px;
	line-height: 2.23;
	color: #000000;
	margin-bottom: 31px;

	}
	// .shop__checbox

	&__checbox {
		grid-row: span 4;
		grid-column: span 7;
		@media (max-width: 1200px){
			grid-column: span 2;
			grid-row: span 1;
		}
	}
}
.form {
	border-right: 1px solid #C4C4C4;
	padding-bottom: 10px;
	@media (max-width: 1200px){
		border-right: none;
		border-bottom: 1px solid #C4C4C4;
	}
	// .form__checbox

	&__checbox {
	}
}
.checkbox {

	// .checkbox__item

	&__item {
	}

	// .checkbox__input

	&__input {
	}

	// .checkbox__label

	&__label {
		gap: 9px;
		font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	color: #3F3F3F;
	
		&::before{
			width: 14px;
			height: 14px;
			border: 1px solid #828282;
			border-radius: 1px;
		}
	}
}
.dress{
	grid-column: span 6;
	@media (max-width: 1200px){
		grid-column: span 1;
		grid-row: span 1;
	}
}
.shop {
	// .shop__dress
	&__dress {
		display: flex;
		flex-direction: column;
		gap: 14px;
	}
	// .shop__image
	&__image {
		display: block;
		position: relative;
		padding-bottom: 130.813953%; /* 450/344 */
		overflow: hidden;
		& img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.3s;
			&:hover{
				transform: scale(1.1);
			}
		}
	}
	// .shop__body
	&__body {
	}
	&__top {
		color: #BDBDBD;
		font-weight: 600;
font-size: 12px;
line-height: 1.5;
	}
	// .shop__text
	&__text {
		font-weight: 300;
font-size: 18px;
line-height: 1.5;
		margin-bottom: 18px;
	}
	// .shop__price
	&__price {
		display: block;
		font-weight: 500;
font-size: 22px;
line-height: 1.5;
		transition: all 0.3s;
		&:hover{
			
			text-decoration: underline;
			transform: scale(1.03) translateX(3px);
			
		}
	}
	&__load{
		grid-column: span 24;
		text-align: center;
		padding: 33px 0;
		@media (max-width: 1200px){
			grid-column: span 2;
			grid-row: span 1;
			
		}
		@media (max-width: 420px){
			padding: 10px 0;
		}
	}
	&__btn{
		font-weight: 500;
	font-size: 14px;
	line-height: 1.5;
	color: #828282;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	padding: 14px 21px;
	border: 2px solid #C4C4C4;
	transition: all 0.3s;
		&:hover{
			background-color: #000000;
			color: wheat;
		}
	}
}
.limits {

	// .limits__image

	&__image {
		margin-bottom: 67px;
		position: relative;
		padding-bottom: 24.973262%; /* 467/1870 */
		@media (max-width: 1020px){
			padding-bottom: 44.973262%; /* 467/1870 */
			margin-bottom: 27px;
		}
		@media (max-width: 420px){
		padding-bottom: 54.973262%;
		}
	}

	// .limits__img

	&__img {
		& img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .limits__content

	&__content {
		
		position: absolute;
		max-width: 639px;
		padding: 19px;
		top: 10%;
		left: 15%;
		@media (max-width: 1340px){
			top: 0;
			left: 0;
		max-width: 539px;
		}
		@media (max-width: 420px){
			padding: 5px;
			top: 0;
			left: 0;
			max-width: 339px;
		}
	}

	// .limits__title
	&__title_adptfont{
		@include adaptiv-font(40, 18);
	}
	&__title {
		text-align: left;
		margin-left: 37px;
		max-width: 583px;
		border-top: 2px solid black;
		border-right: 2px solid black;
		padding-top: 19px;
		font-weight: 500;
		
	line-height: 1.29;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 17px;
	@media (max-width: 1130px){
		padding-top: 5px;
		margin-bottom: 7px;
	}
	@media (max-width: 420px){
	}
	& h2{
		margin-left: -37px;
		
	}
	}
	// .limits__text
	&__text_adptfont{
		@include adaptiv-font(24, 16);
	}
	&__text {
		margin-bottom: 24px;
		font-family: 'Roboto Light';
line-height: 1.48;
letter-spacing: 0.01em;
color: #000000;
@media (max-width: 1130px){
	margin-bottom: 14px;
}
@media (max-width: 420px){
	margin-bottom: 14px;
}
	}

	// .limits__link

	&__link {
		font-weight: 500;
font-size: 18px;
line-height: 1.5;
		text-transform: uppercase;
		display:inline-block;
		padding: 15px 40px;
		border: 2px solid black;
		transition: all 0.3s;
		@media (max-width: 780px) {
			text-align: center;
			padding: 5px 25px;
			font-size: 12px;
		}
		@media (max-width: 420px) {


		}
		&:hover{
			background-color: #000000;
			color: white;
		}
	}
}
.featured {

	// .featured__content

	&__content {
		margin-bottom: 68px;
		@media (max-width: 780px) {
			margin-bottom: 20px;
		}
	}

	// .featured__items

	&__items {
		display: flex;
	justify-content: space-between;
	margin-bottom: 26px;
	}
	
	// .featured__title

	&__title {
		color: #000000;
		font-weight: 400;
font-size: 24px;
line-height: 2.83;
	}

	// .featured__check

	&__check {

	}

	// .featured__link-left

	&__link-left,
	&__link-right {
		display: inline-block;
		border: 2px solid #C4C4C4;
		width: 40px;
		height: 40px;
		transition: all 0.3s;
		&:hover{
			box-shadow: 0px 0px 3px black;
		}
	}
	&__link-left{
		background: url(../img/left.svg) center no-repeat;
	}
	&__link-right{
		background: url(../img/rightsvg.svg) center no-repeat;
	}

	// .featured__dress
	&__shop{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 31px;
	}
}
.explore {

	// .ecsplore__content

	&__content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
		gap: 20px;
		margin-bottom: 82px;
		@media (max-width: 780px) {
			margin-bottom: 32px;
		}
	}

	// .explore__image

	&__image {
		grid-column: span 8;
		position: relative;
		padding-bottom: 34.245283%; /* 363/1060 */
		& img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .explore__page

	&__page {
		margin: 0 auto;
		grid-column: span 6;
		max-width: 640px;

	}
}

.limits {

	// .limits__title

	&__title {

		// .limits__title_font

		&_font {
			font-size: 56px;
			@media (max-width: 920px) {
				font-size: 40px;
			}
			@media (max-width: 420px) {
				font-size: 24px;
			}
		}
	}

	// .limits__text

	&__text {

		// .limits__text_font

		&_font {
			font-size: 25px;
			@media (max-width: 420px) {
				font-size:16px;
			}
		}
	}
}


.blog {

	// .blog__content

	&__content {

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 30px;
		@media (max-width: 780px) {
			gap: 20px;
		}
	}

	// .blog__blog

	&__blog {
		font-weight: 400;
font-size: 24px;
line-height: 2.83;
margin-bottom: 30px;
@media (max-width: 780px) {
	margin-bottom: 20px;
}

	}

	// .blog__body

	&__body {
		flex: 0 1 25%;
		padding: 25px;
		display: flex;
		flex-direction: column;
		line-height: 1.5;
	}

	// .blog__name

	&__name {
		font-weight: 600;
font-size: 18px;
margin-bottom: 21px;
color: #BDBDBD;
	}

	// .blog__title

	&__title {
		font-weight: 400;
		font-size: 26px;
		margin-bottom: 32px;
		@media (max-width: 780px) {
			margin-bottom: 20px;
		}
	}
	// .blog__text

	&__text {
		font-size: 16px;
		flex-grow: 1;
		& p{
			&:last-child{
				margin-bottom: 80px;
				@media (max-width: 780px) {
					margin-bottom: 30px;
				}
			}
		}
	}

	// .blog__data

	&__data {
		border-top: 3px solid #000000;
		font-size: 13px;
line-height: 2.84;
color: #4F4F4F;
	}
}

