@import url(fonts.css);
@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
main{
	flex-grow: 1;
}
[class*="__content"]{
	padding: 20px 0;
	max-width: 1240px;
	margin: 0 auto;
	font-family: "poppins";
}
.header-conteiner {
	color: #495057;
font-family: 'Poppins';
font-weight: 500;
font-size: 12px;
line-height: 25px;
}
.header-conteiner__wrap {
	display: flex;
	justify-content: space-between;
}
.header-columns {
}
.header-columns__cotegories {
position: relative;

}
.header-columns__cotegories::after{
	content: "+";
	display: inline-block;
	top: 0;
	right: -17px;
	position: absolute;

	
}
.header-columns__column {
}
.list {
}
.list__items {
	display: flex;
	column-gap: 20px;
}
.items {
}
.items__item:last-child{
	color: rgba(73, 80, 87, 0.496);
}
.items__item span{
	display: inline-block;
	padding-right: 5px;
}
.main__content {
}
.main-conteiner {
}
.main-conteiner__wrap {
	display: flex;
	flex-wrap: wrap;
	row-gap: 45px;
	margin: 0 -15px;
	margin-bottom: 60px;
}
.main-columns {
}
.main-columns__conteiner {
	flex: 0 1 33.333%;
	padding: 0 15px;
}
.column-content {
	max-width: 393px;
	min-height: 100%;
}
.wrap__cont{
	display: flex;
	flex-direction: column;
}
.column-content__image {
	margin-bottom: 30px;
	position: relative;
}
.image {
}
.image__img{

}
img{
	max-width: 100%;
}
.image__creative{
	padding-top: 3px;
	background: rgba(33, 37, 41, 0.3);
border-radius: 3px;
	width: 63px;
	height: 25px;
display: inline-block;
position: absolute;
top: 12%;
right: 7.6%;
text-align: center;
font-weight: 700;
font-size: 8px;
line-height: 20px;
color: #F8F9FA;
text-transform: uppercase;
}
.column-content__text {
}
.text {
	font-weight: 300;
font-size: 12px;
line-height: 20px;
color: #495057;
}
.text *:not(:last-child){
	margin-bottom: 15px;
}
.text__data {
}
.text__title {
	font-weight: 700;
font-size: 25px;
line-height: 40px;
color: #212529;
}
.text__text {
}
.text__line{
	height: 1px;
	background-color:rgba(73, 80, 87, 0.52);
	;
}
.text__author {
}
.main-conteiner__botton {
	margin: 0 auto;
	width: 178px;
height: 40px;
background: #212529;
border-radius: 3px;
margin-bottom: 100px;
}
.main-conteiner__botton:hover{
	background-color: #8f85d7;
}
.botton p{
	text-align: center;
	font-weight: 500;
	font-size: 12px;
	line-height: 25px;
	color: #F8F9FA;
	padding: 7px 0;
}
.botton p:hover{
	color: #212529;
	font-weight: 700;
}
.botton__link {
}
.footer{
	height: 100px;
	background-color: #212529;
}